<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.haili.living"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="21" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name"
        android:theme="@style/AppNoAnimalTheme" >
        <meta-data
            android:name="com.amap.api.v2.apikey"
            android:value="9a664dae99396a46949916a79ccdc70d" />

        <activity
            android:name="com.haili.living.MapActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait" >

                 <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.haili.living.activity.LivingMuseumActivity"
            android:label="@string/app_name" >
     <!--       
        <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter> 
               -->
        </activity>
        <activity
            android:name="com.haili.living.InterfaceTestActivity"
            android:screenOrientation="portrait" >
<!-- 
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
             -->
        </activity>
        <activity
            android:name="com.haili.living.InterfaceShowActivity"
            android:configChanges="orientation|keyboardHidden"
            android:screenOrientation="portrait" />
        <activity
            android:name="com.haili.living.activity.LivingSearchActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.haili.living.activity.LivingMuseumDetailsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.haili.living.activity.DeliveryScopeActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.haili.living.activity.GoodsDetailsActivity"
            android:label="@string/app_name" >
        </activity>
        <activity
            android:name="com.haili.living.activity.LivingMuseumDetailsSearchActivity"
            android:label="@string/app_name" >
        </activity>
        
    </application>

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_CONFIGURATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    
</manifest>